<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/javascripts/renderView.js" type="module"></script>
    <title>Data Visualizer</title>
</head>
<body>
<header>
    <h1>Data Visualizer</h1>
</header>
<main>
    <div id="chart"></div>
</main>
</body>
</html>